# Configuración de Conexión al Backend (baifa-api o REST genérico)
NUXT_PUBLIC_API_BASE=http://localhost:8000/api
NUXT_PUBLIC_AUTH_MODE=api
NUXT_PUBLIC_AUTH_LOGIN_ENDPOINT=/v1/auth/login
NUXT_PUBLIC_AUTH_REGISTER_ENDPOINT=/v1/auth/register
NUXT_PUBLIC_AUTH_ME_ENDPOINT=/v1/auth/me
NUXT_PUBLIC_AUTH_LOGOUT_ENDPOINT=/v1/auth/logout
